/* 添加功能选项面板样式 */
.add-options-panel-sdwf {
    position: absolute;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 20px;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    width: 140px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.option-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.03);
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 删除选项的特殊悬停效果 */
.delete-option:hover {
    background-color: rgba(241, 98, 98, 0.253);
}

.option-icon {
    margin-right: 8px;
    color: #ccc;
}

.option-text {
    font-size: 14px;
    color: #dfdfdf;
    font-weight: 500;
}

.add-options-panel-sdwf.show {
    display: flex;
}

.add-options-panel-sdwf.hidden {
    display: none;
}

.positioned-menu {
    position: fixed;
    z-index: 1000;
}
