.object-cover {
    object-fit: cover;
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}

/* 添加背景视频容器的样式，确保覆盖整个视口 */
.home-wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

/* 添加遮罩层样式 */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: auto;
    background-color: rgb(0 0 0 / 20%);
}