.choose-export-panel {
    background-color: rgba(0, 0, 0, 0.178);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.export-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.export-options .option-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(165, 165, 165, 0.568);
    cursor: pointer;
    transition: all 0.2s ease;
}

.export-options .option-item:hover {
    background-color: rgba(221, 221, 221, 0.877);
    transform: translateY(-2px);
}

.export-options .option-icon {
    font-size: 24px;
    margin-right: 15px;
}

.export-options .option-text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
