.choose-export-panel-Export {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Add-Account-Panel-Export {
    background-color: rgba(185, 185, 185, 0.5);
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 25px;
    position: relative;
    backdrop-filter: blur(5px);
}

.panel-title {
    color: #1c1f22de;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}

.complete-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}



.export-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.export-options .option-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(165, 165, 165, 0.568);
    cursor: pointer;
    transition: all 0.2s ease;
}

.export-options .option-item:hover {
    background-color: rgba(221, 221, 221, 0.877);
    transform: translateY(-2px);
}

.export-options .option-icon {
    font-size: 24px;
    margin-right: 15px;
}

.export-options .option-text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.Select-Export {
    display: flex;
    background-color: rgba(87, 87, 87, 0.5);
    border-radius: 12px;
    height: 100%;
    align-items: center;
    /* 添加内间距 */
    padding: 0 15px;
    color: #fff;
}