.Partitionbar {
    height: 600px;
    width: 75px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.classification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -60px;
    top: 0;
    height: 100%;
    width: 55px;
    border-radius: 18px;
    background-color: rgba(46, 46, 46, 0.78);
    transition: left 0.3s ease-in-out 0.5s;
    padding: 20px 0;
}

/* 新增的滚动容器样式 */
.classification-scroll-container {
    /* 添加滚动相关属性 */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    height: 100%;
}

/* 隐藏滚动条 (Chrome, Safari, Edge) */
.classification-scroll-container::-webkit-scrollbar {
    display: none;
}

.Partitionbar:hover .classification {
    left: 15px;
    transition-delay: 0s;
}

.classification-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 38px;
    height: 38px;
    margin: 20px auto;
    border-radius: 11px;
    flex-shrink: 0; /* 防止图标在容器缩小时变形 */
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.classification-icon:hover {
    cursor: pointer;
    background-color: #cccccc86;
}