
.main-container {
    height: 100vh;
}


.header-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}


.account-container {
    display: flex;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
}


.icon-container {
    display: flex;
    height: 110px;
    width: 110px;
    justify-content: center;
    align-items: center;
}


.icon-box {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    /* 添加居中对齐样式 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


img { 
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 20px;
    /* 添加缓动效果 */
    transition: all 0.3s ease;
    transform: scale(1);
}

img:hover { 
    transform: scale(1.05);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.text-container {
    font-weight: 600;
    font-size: 12px;
    margin-top: 5px;
    color: #dfdfdf;
    text-align: center;
}